<%=  simple_form_for planet do |f| %>
  <div class="planet-table">
    <span><%= f.input :name, label: false %></span>
    <span><%= f.input :size, label: false %></span>
    <span><%= button_tag :submit, style: "border:0;background:transparent;" do %>
        <i class="far fa-check-circle h4 mx-2 text-primary" aria-hidden="true"></i>
      <% end %>
      <%= link_to "<i class='far fa-times-circle h4'></i>".html_safe, :back%></span>
  </div>
<% end %>
